# 🔒 Arquivos Sensíveis
.env
mysql_conn.session.sql
mysql_remoto.session.sql

# 📂 Configurações do Editor (VS Code, JetBrains, etc.)
.vscode/

# 🗑️ Arquivos Temporários e Cache
*.log
*.cache
cache/
logs/
tmp/

# 📂 Diretórios Específicos do SPEX
public/css/bulma
public/css/fontawesome
public/uploads/
docs/temp_docs/
